<section>
  <h1>Profile</h1>
  <div>
    <h3>Estos son tus datos</h3>
    <p>Nombre: {{user.firstName}}</p>
    <p>Apellido: {{user.lastName}}</p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol: {{user.role}}</p>
  </div>

  <form method="GET" action="/api/session/logout">
    <span>Deseas cerrar sesión?</span>
    <input type="submit" value="Cerrar Sesion" />
  </form>

  <div>
    <a href="/api/views/products">Volver hacia el menu de productos</a>
  </div>
</section>